$background_header:   #88a3d6;
/**********main styles********/
body {
  margin: 0;
}
.cols {
  float: left;
}
.cols-3-2x {
  width: 66.64%;
}
.cols-6 {
  width: 16.66%;
}
.col-4{
  width: 25%;
}
.content{
  padding: 15px;
}
img{
  display:block;
  max-width:100%;
  height:auto;
}
/**********************/
.header{
    background: $background_header;
    min-height: 60px;
}
/****************************/
.wrapper{
  padding: 30px 15px;
  position: relative;
  height: 100%;
  overflow: hidden;
  .cols{
    .row{
      position: relative;
      height: 100%;
      overflow: hidden;
    }
  }
  .leftBkock{
    img{
      &:nth-child(1){
        display: none;
      }
    }
  }
}
/*******tablet version******/
@media screen and (max-width: 768px) {
  .cols-6 {
    width: 25%;
  }
  .cols-3-2x {
    width: 75%;
  }
  .cols-6:last-child {
    float: initial;
  }
}
/*******mobile version**********/
@media screen and (max-width: 540px) {
  .rightBlock{
    display: none;
  }
  .mobile{
    clear: both;
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .cols-3-2x, .cols-6 {
    width: 100%;
  }
  .col-4 {
    width: 50%;
  }
  .cols-6:last-child {
    float: left;
  }
  .wrapper {
    padding: 30px 0;
    .leftBkock {
      img {
        &:nth-child(1) {
          display: block;
          margin-bottom: 30px;
        }
      }
    }
  }
}