doctype html
html(lang="en")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Test
        style
            include stylesheets/styles.css

        body.page
            header.header.page__header

            main.wrapper
                div.cols.cols-6.rightBlock
                    .content
                        img(class="" src="images/img_1.jpg" alt="1")

                div.cols.cols-3-2x.centerBlock
                    div.row
                        div.mobile
                            div.cols.col-4
                                .content
                                    img(class="" src="images/img_2.jpg" alt="2")
                            div.cols.col-4
                                .content
                                    img(class="" src="images/img_4.jpg" alt="3")
                        div.mobile
                            div.cols.col-4
                                .content
                                    img(class="" src="images/img_6.jpg" alt="4")
                            div.cols.col-4
                                .content
                                    img(class="" src="images/img_8.jpg" alt="5")

                    div.row
                        div.mobile
                            div.cols.col-4
                                .content
                                    img(class="" src="images/img_3.jpg" alt="6")
                            div.cols.col-4
                                .content
                                    img(class="" src="images/img_5.jpg" alt="7")
                        div.mobile
                            div.cols.col-4
                                .content
                                    img(class="" src="images/img_7.jpg" alt="8")
                            div.cols.col-4
                                .content
                                    img(class="" src="images/img_9.jpg" alt="9")

                div.cols.cols-6.leftBkock
                    .content
                        img(class="" src="images/img_1.jpg" alt="1")
                        img(class="" src="images/img_10.jpg" alt="10")

            footer.footer.page__footer.leftBlock